[class*='col-'] {
  background-color: red;
  height: 80px;
  border: 2px solid black;
}

.header-top {
  height: 80px;
  background-color: #2b3d51;
}
.header-bottom {
  height: 300px;
  background-color: #19bd9b;
}

.portfolio {
  height: 200px;
  text-align: center;
}
.about {
  height: 200px;
  text-align: center;
  background-color: #19bd9b;
}
.contact {
  height: 200px;
  text-align: center;
}

.footer-top {
  height: 200px;
  background-color: #2d3d55;
}

.footer-bottom {
  height: 200px;
  background-color: #2b3d51;
}
